*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #F5CBCB;
}

body{
    background: #FBEFEF;
    height: fit-content;
    justify-content: right;
    color: #333
}

nav{
    background: #F5CBCB;
    color: #FFE2E2;
}

header{
    background: #FFE2E2;
    color: #000;
    text-align: center;
    padding: 50px 20px;
}

.nav-bar{
    background: #F5CBCB;
    padding: 10px;
    margin: 5px;
    width: 1200px;
}
nav img{
    width: 100px;
    height: 100px;
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5CBCB;
    list-style: none;
}

nav ul li{
    margin: 20px;
    padding: 10px;
}

section{
    padding: 40px 20px;
}

section h2{
    padding: 0;
    margin-bottom: auto;    
}

#About {
    background-color: #FBEFEF;
    padding: 5px;
    margin: 15px;
}

#Home {
    background-color: #FBEFEF;
    padding: 5px;
    margin: 15px;
}

#Skills {
    background-color: #FBEFEF;
    padding: 5px;
    margin: 15px;
}

#Project {
    background-color: #FBEFEF;
    padding: 5px;
    margin: 15px;
}

#Contact {
    background-color: #FBEFEF;
    padding: 5px;
    margin: 15px;
}
